<% title "Edit Aktuelle" %>

<%= javascript_include_tag "/javascripts/ckeditor/ckeditor.js" %>

<%= render 'form' %>

<p>
  <%= link_to "Show", @aktuelle %> |
  <%= link_to "View All", aktuelles_path %>
</p>
